<a href="/teacher/option" class="btn btn-info" style="margin-top:5px;">Back</a>

<h4>Add Student Result</h4>

<form method="post" class="add" autocomplete="off">
    <div class="mb-3">
        <label for="roll" class="form-label">Roll No. : </label>
        <input type="number" name="roll" required class="form-control" id="roll">
    </div>
    <div class="mb-3">
        <label for="name" class="form-label">Name : </label>
        <input type="text" name="name" required class="form-control" id="name">
    </div>
    <div class="mb-3">
        <label for="dob" class="form-label">Date of Birth : </label>
        <input type="date" name="dob" required class="form-control" id="dob">
    </div>
    <div class="mb-3">
        <label for="score" class="form-label">Score : </label>
        <input type="number" name="score" required class="form-control" id="score">
    </div>
    <a><button type="submit" class="btn btn-success">Add</button></a>
    <a><button type="reset" class="btn btn-danger">Clear</button> </a>
    <a href="/teacher/viewall" class="btn btn-primary">View All</a>
</form>