
<form method="post" >
    <a href="/teacher/login" class="btn btn-info" style="margin-top:5px; float: right;">Logout</a>

    <div class="optiondiv">
        <button class="btn btncolor">
            <a href="/teacher/viewall" style="color: white; padding-left: 40px; padding-right: 40px;">View All Students</a>
        </button>
        <button class="btn btncolor">
            <a href="/teacher/add" style="color: white; padding-left: 40px; padding-right: 40px;">Add Student</a>
        </button>
    </div>

</form>