<a href="/" class="btn btn-info" style="margin-top: 5px;">Back</a>
<h3>Student Login</h3>
<div class="loginpage">
    <form method="post" class="teachForm">
        <div class="mb-3">
            <label for="roll" class="form-label">Roll No : </label>
            <input type="number" required name="roll" class="form-control" id="roll">
        </div>
        <div class="mb-3">
            <label for="dob" class="form-label">Date of Birth : </label>
            <input type="date" name="dob" class="form-control" id="dob" required>
        </div>
        <a><button type="submit" class="btn btncolor btn-primary">Submit</button></a>
        <a><button type="reset" class="btn btn-danger">Clear</button> </a>
    </form>
</div>