<div class="not-found-content">
    Incorrect Roll No. or Date of Birth
</div>

<div class="footer" style="text-align: center;">
    <a href="/student/login" class="btn btn-info" style="margin-top: 5px; text-align: center;">Back to Login</a>
</div>