<div class="not-found-content">
  404 : Page Not Found
</div>

<div class="footer" style="text-align: center;">
  <a href="/" class="btn btn-info" style="margin-top: 5px; text-align: center;">Back</a>
</div>

