<p class="text">Login as</p>
<div class="loginpage">
    <button type="button" class="btn btncolor">
        <a href="/teacher/login" style="color: white; padding-left: 40px; padding-right: 40px;">Teacher</a>
    </button>

    <button type="button" class="btn btncolor">
        <a href="/student/login" style="color: white; padding-left: 40px; padding-right: 40px;">Student</a>
    </button>
</div>